/*#region CustomFont*/

@font-face
{
    font-family: 'MetalGear';
    src: url(/fonts/METAG.TTF);
}

/*#endregion*/

/*#region General*/
body
{
    background-color: rgb( 13, 4, 22);
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
    background-image: url("test3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: whitesmoke;
    border-style: groove;
    border-color: black;
    margin: auto;
    font-family: 'Koulen', cursive;
}
h2{
    color: whitesmoke;
    border-style: groove;
    margin: auto;
    font-family: 'Koulen', cursive;
    font-size: 18px;

}
div{
    margin: 20px;
    scroll-behavior: smooth;
}
nav
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2pc;
    margin: 1rem;
}
a{
    margin: auto;
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
}

a:hover{
    background-color: rgba(45, 45, 55, 0.7);
}
aside{
    border: 2px solid orangered;
    margin: 30px;
    padding: 1rem;
    text-align: center;
    background-color: rgba(31, 0, 61, 0.781);
}
form{
    height: fit-content;
}
/*#endregion*/

/*#region Custom Boxes*/
.line{
    margin:0;
    margin-top: 1rem;
    display: grid;
    align-self: center;
    background-color: #f76500;
    height: 1px;
    width: 80%;
    translate: 10%;
}
#header-nav
{
    display: grid;
    grid-template-columns: 6fr 40% 6fr ;
    gap: 4vm;
}
#title
{
    user-select: none;
    background:none;
    font-family: 'MetalGear' , sans-serif;
    grid-column-start: 2;
    font-size: 2rem;
}
.main-nav{
    border-radius: 5px;
    background-color: rgb(160, 5, 5 );
    border: 1px groove red;
    margin-inline: 5rem;
    z-index: 0;

}
.space
{
    margin-bottom: 5rem;
}
/*#endregion*/
/*#region Scroll Anim*/
.hiddeable
{
    opacity: 0;
    transition: all 800ms;
}
.show
{
    opacity: 1;
}
@media (prefers-reduced-motion) {
    .hiddeable{
        transition: none;
    }

}

/*#endregion*/

/*#region Scrollbar*/
/* propiedades de la scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  /* el fondo */
  ::-webkit-scrollbar-track {
    background: #424242;
  }
  /* la barra */
  ::-webkit-scrollbar-thumb {
    background: #f76500;
  }
  /* mouse sobre barra*/
  ::-webkit-scrollbar-thumb:hover {
    background: #db5b00;
  }

/*#endregion*/

@media only screen and (max-width: 900px){
    #header-nav{
        display: grid;
        padding: 1em;
        gap: 0;
        justify-content: center;
        grid-template-columns: 20rem;
        grid-template-rows: 2;
    }
    #title{
        grid-column-start: 1;
    }
    a{
        width: 100%;
    }

}











